body {

    color :white;
    background: #000000;
    margin: 0px;
    font-family: "Oswald", sans-serif;

}

header {

border-bottom: solid 2px white;
padding: 20px;
font-size: 32px;
color: white;

}
h1 {

 font-size: 40px;

}
p {
    font-size: 20px;
  }
section {
    background: black;
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}
